.background-style {
    /* font-size:35px; */
    background-position: center; 
    background-color: #F8E6E2;
    background-size: auto;
}

.jumbotron{
    width: 1300px;
    height: 500px;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: right bottom; 
    background-repeat: no-repeat;
    background-image: url("/assets/Jumbotron.jpg")
}
.padding-j{
    padding: 0.2% 9% 0% 5%;
    align-items: center;
    background-position: right center; 
    justify-content: center;
}

.pet-wrapper {
    margin-bottom: 3em;
  }
  
.dog-pic {
    width: 90%;
}

.dog-pic:hover {
    opacity: 0.7;
}

.container{
    padding: 8% 20% 8% 20%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.message-box{
    color: #000000;
    text-align: center;
    margin: auto;
    padding: 85px;
    margin-left: 4%;
    height:100%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
}

.card .card-footer{
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color:	#E5998C;
}

.message-font{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.message-des{
    font-size: 30px;
}