h1{
    text-align: center;
}

.formBoxColor{
    padding: 30px;
    background-color: rgba(113, 139, 237, 0.7);
}

.formBox{
    padding: 10% 10% 10% 50%;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin: auto;
}

.background-box{
    font-family: 'Handlee', cursive;
    background:no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    /* height: 100%;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background-image: url("/assets/background-1.jpg")
}

.headerLoginStyle{
    background: rgba(95, 118, 200, 0.9);
    text-align: center;
    padding: 2%;
    margin: auto;
}

.imageStyle{
    background-color: whitesmoke;
    width: 25%;
    border-radius: 50%;
}

