.formBoxRegister{
    font-family: 'Handlee', cursive;
    font-size: 20px;
    padding: 5% 49% 4% 5%;
    display: block;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.registerFormBoxColor{
    padding: 50px;
    background: rgba(58, 87, 195, 0.3);
}

.h1Style{
    background: rgba(58, 87, 195, 0.6);
    padding: 4%;
    margin: auto;
}

.background-box-register{
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("/assets/background-3.jpg")
}
  