
.appFondo{
  background-image: url("http://www.peluqueriacaninapatitas.es/wp-content/uploads/2015/02/fondo.jpg");
}

p,h1, h3{
  font-family: 'Handlee', cursive;
}

p{
  font-size: 30px;
}

h2, h1{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}